[Desktop Entry]
Name=change-res
Comment=Change resolution
Exec=/home/kirk/Documents/repos/stuff/ubuntu_change-res.sh
Type=Application
Terminal=true
#Icon=/path/to/icon/icon.svg
Name[en_AU]=Change Resolution
